
* {
    box-sizing: border-box;
}

.container {
    max-width: 1135px;
    margin: 0 auto;
    padding: 0 6px;
}

.button {
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #05090C;
    color: #FFFFFF;
    font: 600 16px 'Montserrat', sans-serif;
    text-decoration: none;
}

.header {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animation {
  opacity: 0;
}

.loaded .animation {
    opacity: 1;
}

.pink__header {
    color: #EE58B6;
}

.header > .container {
    max-width: 1680px;
    padding: 0 10px;
}

.header__row {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    text-decoration: none;
    font: 500 16px 'Montserrat', sans-serif;
    margin-right: 90px;
    color: #000000;
}

.move > .container {
    max-width: 1680px;
}

.move {
    opacity: 0;
    transition: opacity 1s ease-out 0.8s;
}

.move__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 30px;
}

.move__header {
    font: 600 100px 'Montserrat', sans-serif;
    line-height: 122.35%;
    margin-bottom: 46px;
}

.move__text {
    font: 300 26px 'Roboto Condensed', sans-serif;
    line-height: 120%;
    margin-bottom: 66px;
}

.move__img {
  max-width: 100%;
  object-fit: cover;
}

.advice {
    background-color: #000000;
}

.advice__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 0;
    grid-gap: 0 86px;
}

.advice__card {
    text-align: center;
    opacity: 0;
}

.advice__card_animation-time_3s {
    transition: opacity 1s ease-out 3s;
}

.advice__card_animation-time_3-5s {
    transition: opacity 1s ease-out 3.5s;
}

.advice__card_animation-time_4s {
    transition: opacity 1s ease-out 4s;
}

.advice__img {
    margin-bottom: 25px;
}

.advice__text {
    font: normal 22px 'Roboto Condensed', sans-serif;
    line-height: 120%;
    color: #FFFFFF;
}

.deadline {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

.deadline__img-wrapper {
  max-width: 50%;
}

.deadline__img {
  width: 100%;
  height: auto;
}

.deadline__list {
  max-width: 50%;
}

.deadline__header {
    font: 500 48px 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.deadline__text {
    font: normal 18px 'Roboto Condensed', sans-serif;
    line-height: 135%;
}

/*--------------animation-deadline---------------------------*/
.deadline_animation_left {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s ease-out;
}

#animatedBlock.loaded .deadline_animation_left,
#animatedBlock.loaded .deadline_animation_right {
    opacity: 1;
    transform: none;
}

.deadline_animation_right {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s ease-out;
}

/*-----------------------------------------*/
.cards__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0 0 100px;
}

.cards__header {
    padding: 60px 0;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

.cards__header h2 {
    font: 500 48px 'Montserrat', sans-serif;
    line-height: 59px;
}

.cards__card {
    background-color: #000000;
    border-radius: 7px;
    padding: 40px;
}

.cards__img {
    margin-bottom: 20px;
}

.cards__text {
    color: #FFFFFF;
    font: normal 18px 'Roboto Condensed', sans-serif;
    line-height: 21px;
}

/*--------accord------------*/
.accord {
  margin: 0 auto;
  max-width: 720px;
  padding: 50px 0;
}
.accord__header {
  text-align: center;
  font: 500 48px 'Montserrat', sans-serif;
}
.acor-container {
    margin: 20px 0;
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    border-bottom: solid 1px;
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: #FFFFFF;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-container label:hover {
    color: #000000;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    color: #D30085;
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: #FFFFFF;
    color: #000000;

}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.forms {
    background-color: #000000;

}

.forms > .container {
    max-width: 1680px;
}

.forms__row {
    text-align: center;
    padding: 60px 0 290px 0;
}

.forms__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.forms__header {
    padding-top: 125px;
    text-align: center;
    font: 500 48px 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.forms__input {
    cursor: pointer;
    font: 500 18px 'Montserrat', sans-serif;
    padding: 20px 28px;
    border-radius: 4px;
    border: 1.6px solid #C0C0C0;
}

.forms__button {
    background-color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
}

/*----------------------checkbox-----------------------------*/
.forms__checkbox {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
}

.forms__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.forms__custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.forms__custom-checkbox + label::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.forms__custom-checkbox:checked + label::before {
    border-color: #ee58b6;
    background-color: #ee58b6;
    background-image: url("../images/checked.png");
}

/* стили при наведении курсора на checkbox */
.forms__custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #ee58b6;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.forms__custom-checkbox:not(:disabled):active + label::before {
    background-color: #ee58b6;
    border-color: #ee58b6;
}

/* стили для чекбокса, находящегося в фокусе */
.forms__custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgb(238, 88, 182);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.forms__custom-checkbox:focus:not(:checked) + label::before {
    border-color: #ffbfeb;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.forms__custom-checkbox:disabled + label::before {
    background-color: #ee58b6;
}

/*----------------------/checkbox-----------------------------*/
.forms__checkbox-text {
    font: normal 16px 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    margin-left: 8px;
}

.author {
    text-align: center;
    padding: 120px 0;
}

.author__photo {
    border-radius: 50%;
    margin-bottom: 20px;
}

.author__name {
    font: 500 26px 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.author__comment {
    font: normal 18px 'Roboto Condensed', sans-serif;
    margin-bottom: 24px;
}

.author__description {
    margin: 0 auto 43px;
    max-width: 630px;
    font: normal 18px 'Roboto Condensed', sans-serif;
}

.author__link-img {
    width: 48px;
    height: auto;
    margin-right: 15px;
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 35px 0;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .move {
    padding: 50px 0px;
  }

  .move__row {
    flex-direction: column;
    justify-content: center;
  }

  .move__img {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .advice__row {
    padding: 50px 10px;
    grid-gap: 30px;
  }

  .forms__form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .forms__row {
    padding-bottom: 125px;
  }

  .forms__checkbox {
      grid-area: 4 / 1 / 5 / 2;
  }
}

@media screen and (max-width: 768px) {
  .move__header {
    font-size: 60px;
  }

  .advice__row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 50px 10px;
    grid-gap: 30px;
  }

  .advice__card {
    margin: 0 auto;
    max-width: 300px;
  }

  .deadline {
    flex-direction: column;
    padding: 30px 0px;
  }

  .deadline__header {
    font-size: 36px;
  }

  .deadline-reverse {
    flex-direction: column-reverse;
  }

  .cards__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 100px;
  }

  .cards__card {
    display: flex;
    padding: 30px;
  }

  .cards__img {
    margin: 0 20px 0 0;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  .cards__row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .forms__header {
    font-size: 38px;
  }

  .forms__row {
    padding: 50px 0;
  }
}
@media screen and (max-width: 320px) {
  .move {
    padding: 50px 0px;
  }

  .move__text {
    font-size: 20px;
  }

  .advice__row {
    padding: 30px 10px;
  }

  .deadline {
    padding: 30px 0px;
  }

}
