# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Danya\home__work__ips\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
